/*
	Package 'ui' 
	-server
	-handler
	-router
	-routes

	-html/
	-images/
	-pages/
	-scripts/
	-style/

*/
body {
	margin: 0;
	background-color: #fcfbf9;
	font-family: "Helvetica Neue",Helvetica,Arial,sans-serif;
}

header {
	position: relative;
	
	border-bottom: 0.01em solid #444541;
	margin-bottom: 0.5em;
	height: 4em;
	
	color: #333531;
	background-color: #fcfbf9;
}

header .logo {
	position: relative;
	float:left;
	height: 60%;
	margin-top: 0.5em;
	margin-bottom: 0.5em;
	
	padding-right: 3%;
	padding-left: 1%;
}

/*
	MENU
*/

header .menu {
	width: 100%;
	height: 100%;
	margin: auto;
	margin-bottom: 1em;
	
	font-size: 1.3em;
}

header .menuitem {
	position: relative;
	float:left;
	height: 100%;
	
	padding-left: 5%;
	padding-right: 5%;	
		
	vertical-align: middle;
	line-height: 3em;
}

header .menuitem:hover {
	background-color: #eeedeb;
}

header .menuitem[selected="selected"] {
	border-bottom-style: solid;
	border-bottom-color: #0d47a1;
	border-bottom-width: 0.2em;
}

/*
	FOOTER
*/

footer {
	bottom: 0;
	clear: both;
	width: 99%;
	height: 10em;
	padding: 1%;
	margin-top: 15%;

	border-top: 0.01em solid #333531;
	text-align: center;

	color: #fcfbf9;
	background-color: #333531;
}

/*
	LOCATOR
*/

.locator {
	position: relative;
	float:left;
	height: 100%;
	
	padding-left: 5%;
	padding-right: 5%;
	margin-bottom: 0.5em;
	
	color: #444541;
}

.datacontainer {
	position:relative;

	min-height: 12em;
	margin-right: 8%;
	margin-left: 0.05em;

	font-size: 0.9em;
}

/*
	CLUSTER LIST
*/

.clusterlist {
	float:left;
	width: 20%;

	color: #fcfbf9;
}

.clusterlistitem {
	padding: 0.7em;
	padding-bottom: 1.1em;
	margin-top: 0.1em;
	margin-left: 0;
	
	background-color: #e0e0e0;
	color: #444541;
}

.clusterlistitem[status="-1"]{
	/*Unknown status: blue*/
	background-color: #0d47a1;
	color: #fcfbf9;
}
.clusterlistitem[status="0"]{
	/*OK status: green*/
	background-color: #1b5e20;
	color: #fcfbf9;
}
.clusterlistitem[status="1"]{
	/*WARN status: ambar*/
	background-color: #ff6f00;
	color: #fcfbf9;
}
.clusterlistitem[status="2"]{
	/*ERROR status: red*/
	background-color:  #b71c1c;
	color: #fcfbf9;
}
.clusterlistitem:hover {
	box-shadow:0em 0.01em 0.25em #444541;
	padding-bottom: 1.9em;
	padding-top: 1.5em;
}

/*
	DETAILS
*/

.clusterlistitemdetails{
	float:left;
	width: 35%;

	margin-left: 0.7em;

	padding: 1%;
	//border: 0.1em solid #e0e0e0;
	border: 0.1em solid #444541;
}

.itemdetails{
	padding: 0.3em;
	padding-left: 0.7em;

	margin-top: 0.1em;
	margin-left: 0;
	
/*	border-top: 0.01em solid #e0e0e0;
	border-bottom: 0.01em solid #e0e0e0;

	background-color: #eeedeb;
*/
	color: #444541;
}

.itemdetailstitle {
	padding-top: 0.3em;
	padding-left: 0.7em;
	margin-bottom: 0.7em;

	/*background-color: #e0e0e0;
	color: #444541;*/
	border-bottom: 0.2em solid #e0e0e0;
	color: #0d47a1;
}

.itemdetails[status="-1"]{
	/*Unknown status: blue*/
	border-left: 0.5em solid #0d47a1;
}
.itemdetails[status="0"]{
	/*OK status: green*/
	border-left: 0.5em solid #1b5e20;
}
.itemdetails[status="1"]{
	/*WARN status: ambar*/
	border-left: 0.5em solid #ff6f00;
}
.itemdetails[status="2"]{
	/*ERROR status: red*/
	border-left: 0.5em solid  #b71c1c;
}

.itemdetails:hover {
	box-shadow:0em 0.01em 0.25em #444541;
}


/*
	CHECKS
*/

.checks {
	float:right;
	width: 37%;

	margin-left: 0.7em;

	padding: 1%;
	// border: 0.1em solid #e0e0e0;
	border: 0.1em solid #444541;
}

.checkstitle {
	padding-top: 0.3em;
	padding-left: 0.7em;
	margin-bottom: 0.7em;

	/*background-color: #e0e0e0;
	color: #444541;*/
	border-bottom: 0.2em solid #e0e0e0;
	color: #0d47a1;
}

.check {
	padding: 0.3em;
	padding-left: 0.7em;

	margin-top: 0.1em;
	margin-left: 0;
	

	// background-color: #eeedeb;
	color: #444541;
}

.check[status="-1"]{
	/*Unknown status: blue*/
	border-left: 0.5em solid #0d47a1;
}
.check[status="0"]{
	/*OK status: green*/
	border-left: 0.5em solid #1b5e20;
}
.check[status="1"]{
	/*WARN status: ambar*/
	border-left: 0.5em solid #ff6f00;
}
.check[status="2"]{
	/*ERROR status: red*/
	border-left: 0.5em solid  #b71c1c;
}

.check:hover {
	box-shadow:0em 0.01em 0.25em #444541;
}


.itemdetailschecks{
	padding: 0.3em;
	padding-left: 0.7em;

	margin-top: 0.1em;
	margin-left: 0;

	background-color: #eeedeb;
	color: #444541;
	border-top: 0.1em solid #444541;
}


.clusternodedetails {
	float:right;
	width: 75%;
}

.servicesdetails{
	margin-left: 1em;
	margin-right: 1em;
}
.servicedetail{		
	margin: 0.5em;
	min-height: 100%;

	box-shadow:0em 0.01em 0.25em #444541;
	border-width: 0.1em;
	border-style: solid;
	border-color: #444541;
}

.servicedetail[status="-1"]{
	/*Unknown status: blue*/
	border-color: #0d47a1;
	border-width: 0.1em;
}
.servicedetail[status="0"]{
	/*OK status: green*/
	border-color: #1b5e20;
	border-width: 0.1em;
}
.servicedetail[status="1"]{
	/*WARN status: ambar*/
	border-color: #ff6f00;
	border-width: 0.1em;
}
.servicedetail[status="2"]{
	/*ERROR status: red*/
	border-color: #b71c1c;
	border-width: 0.1em;
}

.servicename{
	padding: 0.5em;

	color: #f4f3f1;
}

.servicedetail[status="-1"] > .servicename {
	/*Unknown status: blue*/
	background-color: #0d47a1;
}
.servicedetail[status="0"] .servicename {
	/*OK status: green*/
	background-color: #1b5e20;
}
.servicedetail[status="1"] .servicename {
	/*WARN status: ambar*/
	background-color: #ff6f00;
}
.servicedetail[status="2"] .servicename {
	/*ERROR status: red*/
	background-color: #b71c1c;
}

.servicechecks{
	color: #f4f3f1;
}

.servicecheck {
	padding: 0.5em;
	margin: 0.5em;
	float:left;
	/*border-radius: 0.25em;*/		
	border-width: 0.1em;
	border-style: solid;
	border-color: #444541;
	background-color: #444541;
}

.servicecheck[status="-1"] {
	/*Unknown status: blue*/
	border-color:  #0d47a1;
	background-color: #0d47a1;
}
.servicecheck[status="0"] {
	/*OK status: green*/
	border-color:  #1b5e20;
	background-color: #1b5e20;
}
.servicecheck[status="1"] {
	/*WARN status: ambar*/
	border-color:  #ff6f00;
	background-color: #ff6f00;
}
.servicecheck[status="2"] {
	/*ERROR status: red*/
	border-color:  #b71c1c;
	background-color: #b71c1c;
}

.servicecheck:hover {
	background-color: #f4f3f1;
	border-width: 0.1em;
	border-style: solid;
	border-color: #444541;

	color: #444541;		
}

.servicecheckalldetails {
	padding-top: 2%;
	padding-left: 2%;
	padding-right: 2%;

	font-family: monospace;

	color: #f4f3f1;
	background-color: #444541;
}

.servicecheckdetails {
	width: 50%;
	float:left;
}

.checkinfotitle {
	font-weight: bold;
}
.checkinfo {
	margin-left: 0.25em;
	margin-bottom: 0.25em;

	font-style: italic;
}

.servicechecksampledetails{
	width: 50%;
	float:left;
}
.sampleinfotitle {
	font-weight: bold;
}
.sampleinfo {
	margin-left: 0.25em;
	margin-bottom: 0.25em;

	font-style: italic;
}

/*
	MESSAGES
*/

.message[type="info"] {
	/*Info message: green*/
	border-width: 0.05em;
	border-style: solid;
	border-color:  #444541;
	background-color: #fef394;
	color: #444541;

	padding: 0.5em;
	margin: 0.5em;
}

.message[type="error"] {
	/*Error message: green*/
	border-width: 0.1em;
	border-style: solid;
	border-color: #b71c1c;
	background-color: #fccbbd;
	color: #b71c1c;

	padding: 0.5em;
	margin: 0.5em;
}