/*
	Package 'ui' 
	-server
	-handler
	-router
	-routes

	-html/
	-images/
	-pages/
	-scripts/
	-style/

*/
body {
	margin: 0;

	background-color: #f4f3f1;
	font-family: "Helvetica Neue",Helvetica,Arial,sans-serif;
}

header {
	position: relative;
	
	border-bottom: 0.01em solid #444541;
	//margin-bottom: 2em;
	height: 4em;
	
	color: #fcfbf9;
//	background-color: #444541;
	background-color: #333531;

	// box-shadow:0em 0.01em 0.25em #444541;											
	// background-color: #ecebe9;
}

header .logo {
	position: relative;
	float:left;
	height: 60%;
	margin-top: 0.5em;
	margin-bottom: 0.5em;
	
	padding-right: 3%;
	padding-left: 1%;
}

header .menu {
	width: 100%;
	height: 100%;
	margin: auto;
	
	font-size: 1.3em;
}

header .menuitem {
	position: relative;
	float:left;
	height: 100%;
	
	padding-left: 5%;
	padding-right: 5%;	
		
	vertical-align: middle;
	line-height: 3em;
}

header .menuitem:hover {
	background-color: #7c7b79;
}

footer {
	bottom: 0;
	clear: both;
	width: 99%;
	height: 10em;
	padding: 1%;
	margin-top: 15%;

	border-top: 0.01em solid #444541;
	text-align: center;

	color: #fcfbf9;
	background-color: #444541;
}

.message[type="info"] {
	/*Info message: green*/
	border-width: 0.1em;
	border-style: solid;
	border-color:  #444541;
	background-color: #fef394;
	color: #444541;

	padding: 0.5em;
	margin: 0.5em;
}

.message[type="error"] {
	/*Error message: green*/
	border-width: 0.1em;
	border-style: solid;
	border-color: #f44336;
	background-color: #fccbbd;
	color: #f44336;

	padding: 0.5em;
	margin: 0.5em;
}

.datacontainer {
	position:relative;

	min-height: 12em;
	margin-right: 8%;

	font-size: 1.1em;
}

.clusterlist {
	float:left;
	width: 20%;

	color: #fcfbf9;
}

.clusternode {
	padding: 0.7em;
	padding-bottom: 1.1em;
	margin-top: 0.1em;
	margin-left: 0;
	
	background-color: #2196cb;
	border-width: 0.2em;
	border-left-width: 0.4em;
	border-right-width: 0.4em;
	border-style: solid;
	border-color: #2196cb;
	
	// color: #444541;
	color: #fcfbf9;
}

.clusternode[status="-1"]{
	/*Unknown status: blue*/
	// border-color:  #2196f3;
	// background-color: #2196f3;
	border-color:  #2196cb;
	background-color: #2196cb;
}
.clusternode[status="0"]{
	/*OK status: green*/
	// border-color:  #4caf50;
	// background-color: #4caf50;
	border-color:  #4c8750;
	background-color: #4c8750;
}
.clusternode[status="1"]{
	/*WARN status: ambar*/
	// border-color:  #ffc107;
	// background-color: #ffc107;
	border-color:  #f5a307;
	background-color: #f5a307;
}
.clusternode[status="2"]{
	/*ERROR status: red*/
	// border-color:  #f44336;
	// background-color: #f44336;
	background-color: #cc4336;
	border-color:  #cc4336;
}

.clusternode:hover {
	// border-right-width: 4em;
	border-color: #fcfbf9; 
	// border-color: #444541;
	// background-color: #ecebe9;
}

.clusternodedetails {
	float:right;
	width: 75%;
}

.servicesdetails{
	margin-left: 1em;
	margin-right: 1em;
}
.servicedetail{		
	margin: 0.5em;
	min-height: 100%;

	box-shadow:0em 0.01em 0.25em #444541;
	border-width: 0.1em;
	border-style: solid;
	border-color: #444541;
}

.servicedetail[status="-1"]{
	/*Unknown status: blue*/
	border-color: #2196f3;
	border-width: 0.1em;
}
.servicedetail[status="0"]{
	/*OK status: green*/
	border-color: #4caf50;
	border-width: 0.1em;
}
.servicedetail[status="1"]{
	/*WARN status: ambar*/
	border-color: #ffc107;
	border-width: 0.1em;
}
.servicedetail[status="2"]{
	/*ERROR status: red*/
	border-color: #f44336;
	border-width: 0.1em;
}

.servicename{
	padding: 0.5em;

	color: #f4f3f1;
}

.servicedetail[status="-1"] > .servicename {
	/*Unknown status: blue*/
	background-color: #2196f3;
}
.servicedetail[status="0"] .servicename {
	/*OK status: green*/
	background-color: #4caf50;
}
.servicedetail[status="1"] .servicename {
	/*WARN status: ambar*/
	background-color: #ffc107;
}
.servicedetail[status="2"] .servicename {
	/*ERROR status: red*/
	background-color: #f44336;
}

.servicechecks{
	color: #f4f3f1;
}

.servicecheck {
	padding: 0.5em;
	margin: 0.5em;
	float:left;
	/*border-radius: 0.25em;*/		
	border-width: 0.1em;
	border-style: solid;
	border-color: #444541;
	background-color: #444541;
}

.servicecheck[status="-1"] {
	/*Unknown status: blue*/
	border-color:  #2196f3;
	background-color: #2196f3;
}
.servicecheck[status="0"] {
	/*OK status: green*/
	border-color:  #4caf50;
	background-color: #4caf50;
}
.servicecheck[status="1"] {
	/*WARN status: ambar*/
	border-color:  #ffc107;
	background-color: #ffc107;
}
.servicecheck[status="2"] {
	/*ERROR status: red*/
	border-color:  #f44336;
	background-color: #f44336;
}

.servicecheck:hover {
	background-color: #f4f3f1;
	border-width: 0.1em;
	border-style: solid;
	border-color: #444541;

	color: #444541;		
}

.servicecheckalldetails {
	padding-top: 2%;
	padding-left: 2%;
	padding-right: 2%;

	font-family: monospace;

	color: #f4f3f1;
	background-color: #444541;
}

.servicecheckdetails {
	width: 50%;
	float:left;
}

.checkinfotitle {
	font-weight: bold;
}
.checkinfo {
	margin-left: 0.25em;
	margin-bottom: 0.25em;

	font-style: italic;
}

.servicechecksampledetails{
	width: 50%;
	float:left;
}
.sampleinfotitle {
	font-weight: bold;
}
.sampleinfo {
	margin-left: 0.25em;
	margin-bottom: 0.25em;

	font-style: italic;
}