<!DOCTYPE html>

{{ define "title" }}Verdmell{{ end }}

<html>
	<head>
		<title>{{ template "title" . }}</title>
		<link rel="stylesheet" href="style/verdmell.css">
		<script type="text/javascript" src="http://ajax.googleapis.com/ajax/libs/jquery/2.1.3/jquery.min.js"></script>
		<script src="http://cdnjs.cloudflare.com/ajax/libs/underscore.js/1.8.3/underscore-min.js"></script>

		<script type="text/javascript" src="scripts/utils.js"></script>
		<script type="text/javascript" src="scripts/menu.js"></script>
		<!--<script type="text/javascript" src="scripts/clusterlist.js"></script>-->
		<script type="text/javascript" src="scripts/verdmell.js"></script>

	</head>

	<body >
		{{ template "header" . }}
		{{ template "content" . }}
		{{ template "footer" . }}
	</body>
</html>